{% extends 'base/base.html' %}
{% load static %}


{% block content %}

<div>
    <div class="container productdata mb-5">
        <div class="row justify-content-between align-items-center">
              
            <div class="col-lg-6 mt-5">
                <div class="img-wrap">
                    <img src="{{ product.image.url}}" alt="Image" class="img-fluid" style="transform: scale(0.8);">
                </div>
            </div>






            <div class=" container col-lg-6 ">
                {% csrf_token %}
				<input type="hidden"  value="{{product.id}}" class="prod_id">
                <h2 class="section-title">{{product.name}}</h2>
                <h5 class="mt-5"><span> Company:</span> <b>{{product.company.company_name}} </b></h5>
                <h5 class="mt-2"><span> Price:</span> <b> ₹ {{product.price}}</b> for 1 unit</h5>
                <p  class="lead mt-2">{{product.discription}}</p>


             <div class="row">
                <div class="input-group mt-5 col-lg-6" style="width: 50%;">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-subtract" type="button">-</button>
                    </span>
                    <input type="text" class="form-control no-padding text-center item-quantity" value="1">
                    <span class="input-group-btn">
                         <button class="btn btn-default btn-add" type="button">+</button>
                    </span>
                </div>
                <div class="col-lg-6">
                  <button  value={{product.id}} type="button" class="btn btn-success mt-5  addtoCart">ADD TO CART</button>
                </div>
             </div>
                <!-- <div class="row my-5">
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="images/truck.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Fast &amp; Free Shipping</h3>
                            <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="images/bag.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Easy to Shop</h3>
                            <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="images/support.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>24/7 Support</h3>
                            <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="images/return.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Hassle Free Returns</h3>
                            <p>Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate.</p>
                        </div>
                    </div>

                </div>
            </div> -->

            

        </div>
    </div>
</div>

<script>

    [...document.getElementsByClassName('addtoCart')].forEach(function (e){
        e.addEventListener('click', function(){
            id = Number(this.getAttribute('value'))
            var prod_id= $(this).closest('.productdata').find('.prod_id').val();
            var token = $('input[name=csrfmiddlewaretoken]').val();
            var item_quantity= $(this).closest('.productdata').find('.item-quantity').val();
            
            
            console.log(prod_id)
            console.log(token)
            console.log(item_quantity)
            $.ajax({
                
                url:'/order/addtocart/',
                method:'POST',
                dataType: 'json',
                data: {
                    "prod_id":prod_id,
                    "item_quantity":item_quantity,
                    csrfmiddlewaretoken:token
                },
                success:(response) => {
                    console.log("response")
                    console.log(response)
                    if (response.flag == 1){
                        Swal.fire({
                                title: 'Error!',
                                text: 'Product Already Added',
                                icon: 'error',
                                confirmButtonText: 'Cool'
                                })
                    }
                    else if(response.flag == 2){
                        Swal.fire({
                                position: "top",
                                icon: "success",
                                title: "Added To Cart",
                                showConfirmButton: false,
                                timer: 1500
                                });
                        $("#cartcount").load(location.href + " #cartcount");
                    }
    
                    else if(response.flag == 3){
                        Swal.fire({
                            title: "Not Logged In!",
                            text: "Do yo want to login!",
                            icon: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#3085d6",
                            cancelButtonColor: "#d33",
                            confirmButtonText: "Yes, Login First"
                            }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = '/users/user/login/';
                            }
                            });
                    }
                }
            })
        })
    })
    
    
</script>


{% endblock %}