{% extends 'base/base.html' %}
{% load static %}


{% block content %}

 		<!-- Start Hero Section -->
         <div class="hero">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-5">
                        <div class="intro-excerpt">
                            <h1>Products</h1>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        
                    </div>
                </div>
            </div>
        </div>
    <!-- End Hero Section -->

    

    <div class="untree_co-section product-section before-footer-section">
        <div class="container">
              <div class="row">

                  <!-- Start Column -->

             {% for product in products %}
                <div class="col-12 col-md-4 col-lg-4 mb-5">
                    <a class="product-item" href="{% url 'product-detail' product.id%}">
                        <img src="{{product.image.url}}" class="img-fluid product-thumbnail" style="height: 25rem;">
                        <h3 class="product-title">{{product.name}}</h3>
                        <strong class="product-price">₹ {{ product.price}}</strong>

                        <span class="icon-cross">
                            <img src="{% static 'images/cross.svg' %}" class="img-fluid">
                        </span>
                    </a>
                </div> 
                <!-- End Column  -->
              {% endfor %}   

              </div>
        </div>
    </div>








{% endblock %}