{% extends 'base/base.html' %}

{% block content %}

<section class="container">

    <div class="card d-flex col-9  text-bg-success m-5">
        <div class="card-header d-flex justify-content-center">
            <h3>INVOICE</h3>
        </div>
        <div class="card-body">
            <h5 class="card-title d-flex justify-content-center mt-4">Order Placed Successfuly</h5>
            <table class="table container p-5 table-success mt-5 ">
                <thead>
                    <tr>
                        <th scope="col">Item Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>

                    </tr>
                </thead>
                <tbody>
                    {% for order_item in order_items %}
                    <tr>

                        <td>{{order_item.product_name}}</td>
                        <td>{{order_item.quantity}}</td>
                        <td>₹ {{order_item.total_price}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center mb-5">
            <a  href="{% url 'home' %}"  type="button" class="btn btn-secondary btn-lg">Continue Shopping</a>
        </div>
    </div>


</section>

{% endblock %}